<a href="https://colab.research.google.com/github/AnaLuisaPS07/ip-2024-01/blob/main/Lista1_Jacson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Ana Luísa Pereira dos Santos - 202400913

//Essa atividade foi postada dentro do prazo estabelecido, porém estava em formatação de texto, fiz a alteração para o formato de código para melhor compreensão.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
Questão 1


LEIA: N1, N2, N3
MEDIA <- N1+N2+N3
ESCREVA (MEDIA)
  SE MEDIA > 6
  ESCREVA (MEDIA)
  ESCREVA ("APROVADO")
  ESCREVA (MEDIA)
  SENÃO ("REPROVADO")

In [ ]:
QUESTÃO 2
var
ct, loop, tp, pp, pg, pa, pc: inteiro
renda_total: real

Escreva ("Digite o número de casos de teste: ")
Leia(ct)
Escreva ("Caso de teste ", loop, ": ")
Leia (tp, pp, pg, pa, pc)
Renda_total <- (pp * 1) + (pg * 5) + (pa * 10) + (pc * 20)
Escreva ("A RENDA DO JOGO N. ", loop, " E = ", renda_total:0:2, "\n")

In [ ]:
QUESTÃO 3

Var

n1, n2, n3, número, quadrado: inteiro

Escreva ("Digite um número: ")

Leia (n1)

Escreva (“Digite outro número: ”)

Leia (n2)

Escreva (“Digite mais um número: ”)

Leia (n3)

se n1 >= 10 ou n2 >= 10 ou n3 >= 10 então

Escreva ("DIGITO INVALIDO")

Senão

número <- (n1 * 100 + n2 * 10 + n3)

quadrado <- número * número

Escreva (número, ", ", quadrado)

In [ ]:
**QUESTÃO 4**

Var

sm, kwgastos, valorkw, cc, cd: real

Escreva ("Digite o valor do salário mínimo: R$ ")

Leia(sm)

Escreva ("Digite a quantidade de kW gasta pela residência: ")

Leia(kwgastos)

valorkw <- (sm * 0.7) / 100

cc <- kwgastos * valorkw

cd <- cc * 0.9

Escreva ("Esse é o custo por kW: R$ ", valorkw:0:2, "\n")

Escreva ("Esse é o custo do consumo: R$ ", cc:0:2, "\n")

Escreva ("Esse é o custo com desconto: R$ ", cd:0:2, "\n")

In [ ]:
**QUESTÃO 5**

var

cc, agua, conta: real

tipo_consu: caractere

Escreva ("Digite a conta do cliente, o consumo de água e o tipo de consumidor (R - Residencial, C - Comercial, I - Industrial): ")

Leia (cc, agua, tipo_consu)

escolha tipo_consu

   caso 'R'

      conta <- 5.00 + 0.05 * agua

    caso 'C'

        se agua <= 80 então

        conta <- 500.00

      senão

        conta <- 500.00 + 0.25 * (agua - 80)

caso 'I'

   se agua <= 100 então

   	conta <- 800.00

       senão

   conta <- 800.00 + 0.04 * (agua - 100)

        caso contrário

            Escreva ("Tipo de consumidor inválido!")

            retorne

Escreva ("CONTA = ", conta, "\n")

Escreva ("VALOR DA CONTA = ", valor_conta:0:2, "\n")

In [ ]:
QUESTÃO 6

var

n, loop: inteiro

tf, tc: real

Escreva ("Digite o número de temperaturas para serem convertidas: ")

Leia (n)

Escreva ("Digite a temperatura em Fahrenheit ", loop, ": ")

Leia (tf)

tc <- 5 * (tf - 32) / 9

Escreva (tf, " FAHRENHEIT EQUIVALE A ", tc:0:2, " CELSIUS\n")

In [ ]:
QUESTÃO 7

var

tf, tc, chuva_polegadas, chuva_mm: real

Escreva ("Digite a temperatura em Fahrenheit: ")

Leia(tf)

Escreva ("Digite a quantidade de chuva em polegadas: ")

Leia(chuva_polegadas)

tc <- (5 * tf - 160) / 9

chuva_mm <- chuva_polegadas * 25.4

Escreva ("O VALOR EM CELSIUS = ", temperatura_celsius:0:2, "\n")

Escreva ("A QUANTIDADE DE CHUVA É = ", quantidade_chuva_mm:0:2, "\n")

In [ ]:
QUESTÃO 8

const pi: real = 3.14159

var raio, altura, circulo, lateral, total, custo: real

Escreva ("Digite o raio da lata (em metros): ")

Leia (raio)

Escreva ("Digite a altura da lata (em metros): ")

Leia (altura)

circulo <- (pi * raio * raio)

lateral <- 2 * pi * raio * altura

total <- (2 * circulo + lateral)

custo <- (total * 100)

Escreva ("O VALOR DO CUSTO É = ", custo:0:2, "\n")

In [ ]:
QUESTÃO 9

var A, B, C, delta: real

Escreva ("Digite o coeficiente A: ")

Leia(A)

Escreva ("Digite o coeficiente B: ")

Leia(B)

Escreva ("Digite o coeficiente C: ")

Leia(C)

delta <- (B * B - 4 * A * C)

Escreva ("O VALOR DE DELTA É = ", delta:0:2, "\n")

In [ ]:
*QUESTÃO 10 *

var

a, b, c, d, determinante: real

Escreva ("Digite o valor de a: ")

Leia(a)

Escreva ("Digite o valor de b: ")

Leia(b)

Escreva ("Digite o valor de c: ")

Leia(c)

Escreva ("Digite o valor de d: ")

Leia(d)

determinante <- (a * d) - (b * c)

Escreva ("O VALOR DO DETERMINANTE É = ", determinante:0:2, "\n")

In [ ]:
QUESTÃO 11

Var n: inteiro

Escreva (“Digite um número: ”)

Leia (n)

Se (n % 3 = 0) e (n % 5 = 0) então

Escreva ("O número é divisível\n")

Senão

Escreva ("O número não é divisível\n")

In [ ]:
QUESTÃO 12

Var horas, valor: inteiro

Escreva (“Digite o total de horas usadas: ”)

Leia (horas)

se horas>= 3 então

valor<- (horas/ 3) * 10

Senão

valor<- (10 + (horas- 3) * 5)

Fimse

Escreva (“O valor a pagar é”, valor: 0.2, /n)

In [ ]:
QUESTÃO 13

var nota: real conceito: caractere

Escreva ("Digite a nota do aluno: ")

Leia(nota)

se (nota >= 9.0) então

conceito <- 'A'

senão se (nota >= 7.5) então

conceito <- 'B'
senão se (nota >= 6.0) então

conceito <- 'C'
senão conceito <- 'D'

fimse
Escreva ("NOTA = ", nota:1:1, " CONCEITO = ", conceito, "\n")

In [ ]:
**QUESTÃO 14**

var
    altura, aresta, base, volume: real

Escreva ("Digite a altura da pirâmide e o comprimento da aresta do hexágono: ")

Leia (altura, aresta)

base <- (3 * aresta^2 * raizq(3)) / 2

volume <- ((1.0/3) * base * altura )

Escreva ("O VOLUME DA PIRAMIDE É = ", volume:0.2, " METROS CUBICOS\n")

In [ ]:
QUESTÃO 15

var n, valor: inteiro

Escreva ("Digite um valor inteiro N (5 < N < 2000): ")

Leia(N)

Para valor de 1 até n faca

    se valor % 2 = 0 então
Escreva (valor, "^2 = ", valor * valor, "\n")

    fimse

fimpara

In [ ]:
QUESTÃO 16

var salario, reajustado: real

Escreva ("Digite o salário do funcionário: ")

Leia (salario)

se salario <= 300 então

reajustado <- salario + (salario * 0.5)

senao

   reajustado <- salario + (salario * 0.3)

fimse
Escreva ("Salário com reajuste = ", reajustado:0.2, "\n")

In [ ]:
QUESTÃO 17

var x, y, i: inteiro

Escreva ("Digite dois números inteiros separados por espaço: ")

Leia (x, y)

Se x % 2 = 0 então

Escreva ("Sequência de números pares: ")

Para i de 0 até y - 1 faca

Escreva (x + i*2, " ")

    FimPara
Escreva (" ")

Senão
Escreva ("O PRIMEIRO NUMERO NAO É PAR")

Escreva (" ")

FimSe

In [ ]:
QUESTÃO 18

Var a1, r, n, soma, i: Inteiro

Escreva ("Digite o primeiro elemento da PA: ")

Leia(a1)

Escreva ("Digite a razão da PA: ")

Leia(r)

Escreva ("Digite o número de termos da PA: ")

Leia(n)

soma <- 0

Para i de 1 até n faca

soma <- (soma + a1 + (i - 1) * r)

FimPara

Escreva ("A soma dos ", n, " primeiros termos da PA é: ", soma)

In [ ]:
QUESTÃO 19

var n, k: inteiro S: real

Escreva ("Digite um número inteiro positivo maior que 1: ")

Leia(n)

se n <= 1 então

Escreva ("Número invalido!")

senão S <- 0

para k de 1 até n faca

S <- (S + 1.0 / k)

Escreva ("S = ", S:0:6)

In [ ]:
QUESTÃO 20

Var horas, minutos, segundos, resultado: inteiro

Escreva ("Digite o valor das horas: ")

Leia (horas)

Escreva ("Digite o valor dos minutos: ")

Leia (minutos)

Escreva ("Digite o valor dos segundos: ")

Leia (segundos)

resultado <- (horas * 3600) + (minutos * 60) + segundos

Escreva ("O TEMPO EM SEGUNDOS É = ", resultado)

Escreva (" ")